node_modules
.env

# Hardhat files
/cache
/artifacts
/ignition
hardhat.config.ts
package-lock.json
package.json

# Random solidity files
hello.sol
fakeCoin.sol
Ownable.sol
simple.sol
vote.sol

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

#Others
ph.sec.gpg
